body, html{
    margin: 0;
    padding: 0;
}

.item{
    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: white;
}

.item-checked{
    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color:#E9D66B;
    
}

.item:hover{
    background-color: #E9D66B;
}

.todo{
    text-decoration: '';
}

.todo-checked{
    text-decoration: line-through;
}

.btn-completed{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: #0F9D58;
  }

.btn-exclude{
    width: 30px;
    height: 30px;
    background-color: #DB4437;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}


@media screen and (max-width: 768px) and (min-width: 480px) {
    .item{
        width: 450px;
        height: 70px;
    }

    .item-checked{
        width: 450px;
        height: 70px;
    }
} 


@media screen and (max-width: 479px) and (min-width: 321px) {
    .item{
        width: 300px;
        height: 60px;
    }

    .item-checked{
        width: 300px;
        height: 60px;
    }
} 

@media screen and (max-width: 320px) and (min-width: 0) {
    .item{
        width: 280px;
        height: 50px;
    }

    .item-checked{
        width: 280px;
        height: 50px;
    }
} 